<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>

    <script src="/js/jquery.js"></script>
    <script src="/js/ecStat.js"></script>
    <script src="/js/statistic.js"></script>
</head>
<body style="height: 100%;width: 100%">
<div class="mainContainer">
    <div class="graph-container" id="graph2" style="height: 500px; width: 500px;">

    </div>

    <div class="graph-container" id="graph3" style="height: 500px; width: 500px;">

    </div>

    <div class="graph-container" id="graph-pie" style="height: 500px; width: 500px;">

    </div>

    <div class="graph-container" id="graph-col-in" style="height: 500px; width: 500px;">

    </div>

    <div class="graph-container" id="graph-col-out" style="height: 500px; width: 500px;">

    </div>

    <div class="graph-container" id="graph-scatter" style="height: 500px; width: 500px;">

    </div>

    <div class="graph-container" id="linear-regression" style="height: 500px; width: 500px;">

    </div>

</div>
</body>
</html>