<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
    <!--<script src="https://cdn.bootcss.com/echarts/4.6.0/echarts-en.common.js" charset="utf-8"></script>-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/ecStat.js"></script>
    <script src="/js/statistic.js"></script>
</head>
<body style="height: 100%;width: 100%">
<div class="mainContainer">
    <div class="graph-container" id="graph1" style="height: 1000px;width: 1000px">

    </div>

    <div class="graph-container" id="graph2">

    </div>
</div>
</body>
</html>